<div class="profile-card">
    <div>
        <div class="photo"> </div> 
    </div>
    <div class="data">
        <span class="arrow">const </span><span class="orange">oscarAndell</span> = {{ '{' }}
        <div class="bullet-list">
            <p><span class="function">location</span>:() <span class="arrow">=></span> Stockholm,</p>
            <p><span class="function">employer</span>:() <span class="arrow">=></span> Vizlib,</p>
            <p><span class="function">linkedIn</span>:() <span class="arrow">=></span> link,</p>
            <p><span class="function">github</span>:() <span class="arrow">=></span> link,</p>
            <p><span class="function">resume</span>:() <span class="arrow">=></span> link,</p>
            <p><span class="function">email</span>:() <span class="arrow">=></span> Oscar@Andell.eu,</p>
        </div>
        {{ '};' }}
    </div>
</div>