:host{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #111;
    color: white;
}


.content {
    display: flex;
    flex-flow: row-reverse;
}

@media only screen and (max-width: 600px) {
    .content  {
        flex-direction: column;
        justify-content: flex-start;
    }

}
.title {
    font-size: 80px;
    margin-right: 50px;
    color: #FF5900;
}

.text {
    font-size: 20px;
    padding-left: 80px;
    padding-right: 50px;
}