  <div class="main-page-wrapper">
    <profile-card class="profile-card"></profile-card>
    <div class="right-col">
      <word-cloud class="word-cloud"></word-cloud>
      <div class="opening-text-wrapper"> 
        <h1>Who am I?</h1>
        <p  class="main-text">
          I'm a Front-End Developer for ChowNow in Los Angeles, CA.
          I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.
          Let's make something special.

          I'm a Front-End Developer for ChowNow in Los Angeles, CA.
          I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.
          Let's make something special.I'm a Front-End Developer for ChowNow in Los Angeles, CA.
          I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.
          Let's make something special.
        </p>
      </div>
    </div>
  </div>
