    <div id='hero'>
      <div class='layer-bg layer parallax' data-depth='0.10'>
      </div>
      <div class='layer-1 layer parallax' data-depth='0.20'>
        <div class="sun"></div>
      </div>
      <div class='layer-0 layer parallax' data-depth='0.30'>
        <div class="content-wrapper">
          <div class="opening-text-wrapper"> 
            <p  class="opening-text">I'm <span class="name">Oscar Andell</span> and I am a software developer</p>
          </div>
        </div>
      </div>
      <div class='layer-2 layer parallax' data-depth='0.65'></div>
      <div class='layer-3 layer parallax' data-depth='0.70'>
      </div>
      <div class='layer-4 layer parallax' data-depth='0.90'></div>
      <div class='layer-5 layer parallax' data-depth='1.00'>
        <!-- <div class="content-wrapper">
          <button class="button" (click)="onClick()">.continue()</button>
        </div> -->
      </div>
    </div>
