.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.opening-text {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin: 10px;
    text-shadow: 2px 2px 0px black /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.name {
    //color: #282123;
    font-weight: bold;
}

.opening-text-wrapper {


    margin-top: 80px;
    max-width: 500px;
    font-family: fantasy; 
}

.button {
    margin: auto;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
    font-size: 16px;
    font-family: monospace; 
    outline:none;
}

.button:hover {
    background-color: white; /* Green */
    color: black;
}


#hero {
	height: 100vh;
    width: 100vw;
	overflow: hidden;
	position: relative;
}

.layer {
	background-position: bottom center;
	background-size: auto;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
    overflow: hidden;

}
.sun {
    width: 300px;
    height: 300px;
    position: fixed;
    left: calc(70% - 150px);
    top: calc(25% - 150px);

    background-color: #A22C24;
    border-radius: 50%;
}

.layer-bg {
    display: flex;
    background-image:
             repeating-conic-gradient(
                from 3deg at 70% 25%,
                 #A22C24 1% 9deg, #EBD2B8 9deg 18deg);

    justify-content: center;
    
}
.layer-1 {
	background-image: url('../../assets/layers/skyline.png');
    display: flex;
    justify-content: center;
    background-size: contain;
}
.layer-2 {    
    background-image: url('../../assets/layers/flag-smaller.svg');

    background-size: contain;
    width: 50vw; 
    right: 30%;

}
.layer-3 {

    background-size: contain;
	background-image: url('../../assets/layers/flag3-logo.svg');
    //bottom: 0;
    width: 50vw;    
    right: 0px;


}


.layer-4 {
    background-image: url('../../assets/layers/logos2_black.svg');
   // bottom: 0;
    background-size: contain;
    width: 50vw;
    //bottom: -70px;
    right: 0px;



}
.layer-5 {
	background-position: left bottom;
    //bottom: 0;
    

    z-index: 999;
}

