.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.opening-text {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin: 10px;
    text-shadow: 2px 2px 0px black /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.name {
    //color: #282123;
    font-weight: bold;
}

.opening-text-wrapper {


    margin-top: 80px;
    max-width: 500px;
    font-family: fantasy; 
}

.button {
    margin: auto;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
    font-size: 16px;
    font-family: monospace; 
    outline:none;
}

.button:hover {
    background-color: white; /* Green */
    color: black;
}


#hero {
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.layer {
	background-position: bottom center;
	background-size: auto;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -1;

}
.sun {
    width: 30vw;
    height: 30vw;
    min-height: 300px;
    min-width: 300px;


    background-color: #A22C24;
    border-radius: 50%;
}

.layer-bg {
	//background-image: url('../../assets/stars.png');
    /*background-image: url('../../assets/Endless-Constellation-bg.svg');*/
    //background-color: #E1F097;// #2E005C;
	//background-repeat: repeat;
    display: flex;
    background-image:
             repeating-conic-gradient(
                from 3deg at 50% 25%,
                 #A22C24 1% 9deg, #EBD2B8 9deg 18deg);

    justify-content: center;
}
.layer-1 {
	//background-image: url('../../assets/layers/layer1.png');
    display: flex;
    justify-content: center;
}
.layer-2 {    
    //background-image: url('../../assets/layers/flags_small.svg');
    background-image: url('../../assets/layers/logos-black.svg');

    background-size: contain;
    background-position: 50% 0%;

    max-height: 45%;
    bottom: 0;
    bottom: -60px;

}
.layer-3 {

    background-size: contain;
	background-image: url('../../assets/layers/flag3-logo.svg');
    max-height: 65%;
    background-position: 125% 0%;
    bottom: 0;
}


.layer-4 {
    background-image: url('../../assets/layers/logos2_black.svg');
    background-position: 100% 0%;
    bottom: 0;
    background-size: contain;
    max-height: 70%;
    bottom: -70px;



}
.layer-5 {
	background-position: left bottom;
    //background-image: url('../../assets/layers/layer5.png');
    bottom: 0;
    

    z-index: 999;
}

